<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
</head>
<body class="body">
<h1>
    <img src="{{ url_for('static',filename='cropped-PHYSICS-logo.png') }}" alt="physics logo"  width="20%" height="20%">
</h1>
<h2> Semantics Block </h2>
<a class="button" href="http://127.0.0.1:5000/get_available_clusters">Available Clusters</a>
<a class="button" href="http://127.0.0.1:5000/get_locations_of_available_clusters">Location of Available Clusters</a>
</body>
</html>